@font-face {
font-family: "Alegreya";
font-style: normal;
font-weight: normal;
src:url("Alegreya-Regular.ttf");
}
@font-face {
font-family: "Alegreya";
font-style: normal;
font-weight: bold;
src:url("Alegreya-Bold.ttf");
}
@font-face {
font-family: "Alegreya";
font-style: italic;
font-weight: normal;
src:url("Alegreya-Italic.ttf");
}

@font-face {
font-family: "Alegreya";
font-style: italic;
font-weight: bold;
src:url("Alegreya-BoldItalic.ttf");
}

body {
font-family: "Alegreya";
text-align: justify;
}

/* Pour la page de titre Qita */

.qita_titre {
font-size:280%;
font-weight: bold;
text-align:center;
}

.qita_auteur_title {
font-size:140%;
text-align:center;
}

.qita_soustitre {
text-align:center;
}

.unnumbered {
text-align:center;
}

/* Pour la page de licence Qita */

.qita_scission {
margin:1em;
}

.qita_licence {
text-align: center;
}

.qita_info_licence1 {
text-align:justify;
}

.qita_info_licence2 {
text-align:center;
}

/* Pour le corps de texte */
h1 {
text-align:center;
}

h2 {
text-align:center;
}

